[2014-11-15 11:14] stefanw opened #1 "Deutsches Logo mit OKF Deutschland"

[2015-01-14 16:21] pudo commented on #1
Ja zu Deutschland! Nein zu Deutschland!

[2015-01-16 13:42] stefanw commented on #1
14710489647eba3a9323c12c2ba5c4232adb4b65 :heavy_check_mark:

[2015-01-16 13:42] #1 closed

[2015-01-22 10:21] g0ldfisch commented on #4
hilft das vielleicht generell beim content extrahieren/migrieren: https://github.com/benbalter/wordpress-to-jekyll-exporter ?

[2015-02-16 13:24] christianheise commented on #11
Done

[2015-02-16 13:41] Pauletta commented on #13
Fände ich schön. Ich rede mal mit Maria über mögliche Inhalte und schaue, dass ich diese oder nächste Woche was liefere.

[2015-02-16 20:39] juliakloiber commented on #14
https://www.flickr.com/photos/okfn/14539893307/in/photolist-o9QKHD-qP9v8A-qP8H2C-pUrqhA-qyZpxc-qP9qno-pd9TRV-pd9FHM-dYCjGC-dYwBcp-qy2CYa-2vzK4V-qyYuDg-qPcPZs-or32iT-o9PCpf-orjjAk-ot5bqM-ot5byH-orjkBi-ophsaL-ot5bwi-orjikV-oVc9HA-pcDXfC-oVbZbB-nxbANX-orjgaH-o9PFgg-o9QGS8-or77os-74krhG-nxbEKz-kSKjNC-ndVpdf-ndVc68-nv9Gp1-6Sex18-6tPwsX-o9QM5X-o9QNbK-orhND5-orhN9s-ophudJ-o9PKtd-o9PBV9-o9PLBX-or7b5q-o9PJ

[2015-02-16 23:10] stadine commented on #14
Meine Favoriten sind folgende:

https://www.flickr.com/photos/okfn/14550145678/
https://www.flickr.com/photos/okfn/14550152128/
https://www.flickr.com/photos/okfn/14736530122/
https://www.flickr.com/photos/okfn/14539893307/in/photolist-o9QKHD-qP9v8A-qP8H2C-pUrqhA-qyZpxc-qP9qno-pd9TRV-pd9FHM-dYCjGC-dYwBcp-qy2CYa-2vzK4V-qyYuDg-qPcPZs-or32iT-o9PCpf-orjjAk-ot5bqM-ot5byH-orjkBi-ophsaL-ot5bwi-orjikV-oVc

[2015-02-18 13:00] pudo commented on #19
Laaangweilig. Das hätte der Clou der Webseite sein können.

On Wed, Feb 18, 2015 at 2:59 PM, arnese <notifications@github.com> wrote:

[2015-02-18 13:35] stadine commented on #21
den wollte ich im Folter unterbringen (genauso den newsletter)
![04_okfn_projektdetail_02](https://cloud.githubusercontent.com/assets/7421063/6248013/5a4b5280-b77b-11e4-958a-b33fc8430ed7.jpg)

[2015-02-18 13:36] stadine commented on #21
footer....nicht folter

[2015-02-18 13:37] stadine commented on #25
in der Blogliste oder noch an anderer Stelle?

[2015-02-18 13:40] mneuschaefer commented on #21
da ist er sehr versteckt, bei dem Thema Grundfinanzierung bringt uns ein sichtbarer Action Button auf der Startseite weiter, möglichst im Umfeld von Vertrauenssignalen /Partnerlogos

[2015-02-18 13:40] stefanw commented on #25
Das "Schön wär's"-Label sagt aus, dass wir das ggf. mal machen. Nicht für den Launch.

[2015-02-18 13:45] juliakloiber commented on #26
Bin voll dafür!

[2015-02-18 13:48] stefanw commented on #26
Themen-Seiten sind für ein gewisses Publikum verständlicher als Projekte. Außerdem richtig gut für Google-Juice. Unser Ziel ist es, Ansprechpartner bei den einzelnen Themen zu sein. Deswegen brauchen wir Themenseiten.

[2015-02-18 13:49] mneuschaefer commented on #26
für seo und Besucher von außen finde ich solche Landeseiten hilfreich, die lesen sich zu selten in Projekte ein

[2015-02-18 13:50] heleneh commented on #26
dagegen: für Sponsoren und Leute, die uns nicht kennen ist es mühsam sich durch Projekte zu klicken. hier geben die Themen eine bessere Übersicht und zeigen, wie viel wir eig. abdecken

[2015-02-18 13:51] pudo commented on #26
Würde es dann nicht Sinn machen, die irgendwie so gestalten, dass sie einen kurzen (!) Überblick über das Thema geben (200 Worte), und dann auf Projekte sowie andere relevante Ressourcen verweisen?

Was da grade unter "Offene Wissenschaft" entstanden ist, macht halt so überhaupt keinen Sinn und wird auch keinen Google Juice erzeugen. Irgendeine Erklärung, eine Mitgliederliste die in zwei Wochen ve

[2015-02-18 13:52] juliakloiber commented on #26
Viell. finden wir ja einen Kompromiss.
Themenseite "OPEN DATA" und auf der Seite dann kurz Offene Wissenschaft und GLAM.

[2015-02-18 13:53] pudo commented on #26
Folgende Fragen:

* Worum geht es?
* Was macht OKFN?
* Wie kann ich mitmachen?
* Wo erfahre ich mehr?

Jede davon bekommt einen kleinen Absatz bzw 2-3 Buttons.

[2015-02-18 13:55] stadine commented on #26
@pudo ich wollte als Kompromiss das gleiche vorschlagen. Von der Art ähnlich der „Über uns“ Seite, die wir uns mal überlegt hatten.
![02_okfn_mission_08](https://cloud.githubusercontent.com/assets/7421063/6248265/2d73c55a-b77e-11e4-9874-8e3f2c3b2fcd.jpg)

[2015-02-18 14:32] stefanw commented on #26
@pudo Bzgl. der Offene-Wissenschaft-Seite kann @christianheise ja noch mal draufschauen. Das sollte das Prinzip Themenseite nicht in Frage stellen.

[2015-02-18 15:32] pudo commented on #26
Ich hab halt nur Angst, dass die Teile eine Einfallstür für genau den Textcruft sind, den wir mit der neuen Seite eigentlich vermeiden wollten. Also lange, inhaltlich veraltete und überzogene Texte - anstatt eine Einfallstür in unsere Tätigkeiten und eine Einladung zum mitmachen. Deshalb finde ich es extrem wichtig, dass wir uns Gedanken über das Format machen, damit die Teile kompakt sind und rel

[2015-02-18 15:33] pudo commented on #21
Ich würde den nur auf zwei Seiten bringen: Home und Über uns. Dafür dann aber wirklich, wirklich groß und mit einem persönlichen Appeal (Wikipedia-style).

[2015-02-19 08:48] christianheise commented on #26
Hi,

verstehe den Punkt und werde gleich mal Pudos Fragen:
    Worum geht es?
    Was macht OKFN?
    Wie kann ich mitmachen?
    Wo erfahre ich mehr?
besser zu strukturieren.

Ich finde auch, dass das nicht die Themenseiten an sich in Frage stellen sollte. Wenn es irgendwie eine Möglichkeit gibt, das Mission-Statement von https://github.com/OKScienceDE/Mission_Statement/ einzubinden, dann her dam

[2015-02-19 08:54] pudo commented on #26
Naja, aber würde sich nicht grade so ein Statement besser eignen als eine Single-Ourpose-Webseite irgendwo, denn als Themenseite auf OKFN.de?

[2015-02-19 08:54] christianheise commented on #26
@stefanw können wir das wieder in "open-science" umbenennen, damit der alte Linkjuice nicht verloren geht? Danke

[2015-02-19 08:57] christianheise commented on #26
gerne, aber ich weiss nicht wie oder wo... ich kenn das konzept der seite ja nicht... wenn du einen vorschlag hast... gerne

[2015-02-20 22:54] mneuschaefer commented on #28
gibt es irgendein System bei der Reihenfolge (Team/Vorstand , alphabet. Nachname etc)?

[2015-02-21 10:04] stefanw commented on #28
mh, alphabetisch nach vollem Namen. Leider sind dann gerade Prof. unter "P" eingeordnet. Ich schau mal drauf, was man da machen kann.

[2015-02-21 11:07] stefanw commented on #28
@mneuschaefer Dr. und Prof. sind jetzt richtig nach Vornamen geordnet.

[2015-02-21 14:26] maliena commented on #5
Community: https://www.flickr.com/photos/okfde/9504145654/in/set-72157635058900648
- Lizenz: CC BY 2.0 Open Knowledge Foundation Deutschland

[2015-02-21 14:30] maliena commented on #5
Jugend hackt: https://www.flickr.com/photos/okfde/9732252066/in/set-72157635430259351
- Lizenz: CC BY 2.0 Open Knowledge Foundation Deutschland

[2015-02-21 14:38] maliena commented on #5
Themen: https://www.flickr.com/photos/okfde/13937447117/in/set-72157644136004990
- Lizenz: CC BY 2.0 Volker Agueras Gäng

[2015-02-21 14:40] maliena commented on #5
Projekte: https://www.flickr.com/photos/okfde/13150643523/in/set-72157642349149383
- Lizenz: CC BY 2.0 Open Knowledge Foundation Deutschland

[2015-02-21 14:43] maliena commented on #5
Services: https://www.flickr.com/photos/okfde/9501204047/in/set-72157635052259499
- Lizenz: CC BY 2.0 Open Knowledge Foundation Deutschland

[2015-02-21 14:54] maliena commented on #5
Offene Kulturgüter: https://www.flickr.com/photos/okfde/13561127984/in/set-72157643263439724
- Lizenz: CC BY 2.0 Ostberliner Fotoarchiv - Berlinische Galerie, Urheberin: Gisela Dutschmann

[2015-02-21 14:55] maliena commented on #5
Blog: https://www.flickr.com/photos/okfde/9504056192/in/set-72157635052459161
- Lizenz: CC BY 2.0 Open Knowledge Foundation

[2015-02-21 14:58] maliena commented on #5
Team: Das Standup-Foto von Fiona (ich weiß nicht, wo die liegen)
- Lizenz: CC ... Fiona Krakenbürger

[2015-02-21 17:16] stadine opened #33 "Startseite erstellen"
![01_okfn_start_01](https://cloud.githubusercontent.com/assets/7421063/6315051/9facb1f8-b9f5-11e4-9dfd-3c4483c76e48.jpg)

[2015-02-21 17:28] christianheise commented on #5
Offene Wissenschaft:
https://www.dropbox.com/s/nv2o2dhee5d3qiz/69H.jpg?dl=1
Lizenz: Public Domain

via http://www.gratisography.com/

[2015-02-22 10:49] arnese commented on #10
Text ist da im Pull Request

[2015-02-22 21:42] Pauletta commented on #34
Jep, hast du recht. Aber vielleicht eher das. Da schauen die Leute netter :) https://www.flickr.com/photos/okfde/9732249824/in/set-72157635430259351

[2015-02-23 11:40] stadine commented on #20
Ich bin dagegen. Dann stünde teilweise dreimal nebeneinander der Button „Zur Projektwebsite“. Das ist vielleicht ein bisschen zu viel des Guten.

Es geht ja darum, dass der Nutzer merkt, dass man da klicken kann. Dafür gibt es bereits einen Hover für die ganze Box: das Bild zoomt näher ran und die Schrift färbt sich um.  Ich denke, dass diese Veränderung reicht um zu merken „Hej, da kann ich klick

[2015-02-23 11:44] stefanw commented on #20
Ich glaube ihr meint unterschiedliche Dinge. @stadine meint die Boxen in der Projektliste, @juliakloiber meint die Projektdetailseite unter dem Text. Die Projektdetailseite ist noch nicht fertig, gerade der untere Bereich nicht!

[2015-02-23 20:19] stefanw commented on #19
@juliakloiber @ddie @arduina
Ich bin auch für Community, ggf. + eine Über uns Seite.

Es wäre schon ein echt ein Move, wenn wir Community prominent darstellen.

[2015-02-23 21:03] stefanw commented on #38
@arduina @juliakloiber Wählt mal aus, habe erstmal das rote genommen.

[2015-02-25 12:43] kleinkristina commented on #42
Schöne Beispiele von Drew:

We are building an open society based on open data and a digital commons
Join us in building an open society based on open data and a digital commons
Let's create a digital commons based on open data
Let's build the digital commons together
Let's build an open society together
Get involved in building a digital commons based on open data
Making an open society possible

[2015-02-25 13:39] arnese commented on #5
Informationsfreiheit: https://www.flickr.com/photos/foto_db/13837286873
- Lizenz: CC-BY-NC Tim Reckmann

[2015-02-25 13:50] arnese commented on #10
Pull Quote: "Crypto ist Abwehr, IFG ist Angriff!"

[2015-03-02 19:22] stefanw commented on #42
Hi, wir brauchen hier ein bisschen Diskussion: @christianheise @pudo @ddie @juliakloiber @arduina @heleneh, Meinungen? Ich bin ja für einen deutschen Satz! Und mir sind unsere Werkzeuge/Tools/Webseiten/howeveryoumaywannacallit wichtig. Wir sind ja nicht nur Community!

[2015-03-02 19:25] stefanw commented on #8
Hey @heleneh, hast du da was?

[2015-03-02 20:46] m-hoerz commented on #3
Wie meinst du mit "ist ein wenig Organisationsentwicklung"?

Wo würdest du Trainings hinschieben?

[2015-03-03 09:34] stefanw commented on #3
Die Idee war bisher unter Services folgende Dinge unterzubringen:
 - generelle Beratung
 - Training
 - Haushaltsvisualisierung
 - CKAN?
 - Hack Days?

@ddie ist die Liste so vollständig?

[2015-03-03 11:12] heleneh commented on #8
ich arbeite dran! brauche aber noch ein wenig zeit

[2015-04-03 15:22] stefanw commented on #44
Leider sind die Blogpost-Bilder alle klein und doof, deswegen ist eine Ansicht mit schönem Bild ausgeschlossen. Das aktuelle Design macht die Bilder extra klein, dass die Häßlichkeit der Bilder nicht auffällt, aber die Wiedererkennbarkeit da ist.

[2015-04-03 18:13] christianheise commented on #44
Hey, die Bilder liegen meist auch in anderen, viel größeren Formen vor - du musst du den Dateinamen modifizieren.

Z.B. http://de.okblogfarm.org/files/2015/02/buendnis-freie-bildung-415x76.png gibt es auch in http://de.okblogfarm.org/files/2015/02/buendnis-freie-bildung.png.

Liebe Grüße

[2015-04-03 18:15] christianheise commented on #44
kann man das nicht als 6 Boxen wie bei den Projekten bauen + "weitere Posts lesen"-Link
siehe:
![bildschirmfoto 2015-04-03 um 20 13 51](https://cloud.githubusercontent.com/assets/3036990/6986492/08ca0f24-da3e-11e4-87f2-ce002b594297.png)

Gern scribble ich die kommenden Tage mal ein Beispiel.

[2015-04-03 18:17] stefanw commented on #44
Ok, einige Bilder gibt's auch in groß und schön, das ist aber leider absolut nicht garantiert und kann man schlecht für die Vergangenheit nachvollziehen.

Ich könnte mir vorstellen, die letzten drei Blogposts so darzustellen und den Rest etwas schlichter.

[2015-04-03 19:02] christianheise commented on #44
Ja, klingt doch super.

[2015-04-08 18:29] stefanw commented on #38
Game over, es ist jetzt das rote geworden.

[2015-04-08 18:39] stefanw commented on #33
Außer dem "HI" ist alles drin. Mehr geht gerade nicht.

[2015-04-08 18:39] #33 closed

[2015-04-08 19:19] stefanw commented on #2
Community wird erstmal weggelassen

[2015-04-08 19:44] stefanw commented on #19
Nicht mehr Milestone relevant. Wird auf die nächste Überarbeitung verschoben.
Der Menüpunkt fehlt mangels Beteiligung.

[2015-04-08 19:46] stefanw commented on #13
Könnt ihr euch noch mal überlegen.

[2015-04-08 19:49] stefanw commented on #5
LGTM, mostly.

[2015-04-08 19:50] stefanw commented on #8
Launcht jetzt ohne, sorry.

[2015-04-14 11:56] pudo commented on #48
FWIW, https://github.com/okfde/okfn.de/blob/gh-pages/_includes/footer.html#L42

[2015-04-14 20:52] karan commented on #48
Oh. I think that just applies to the content of the website but I could be wrong.

[2015-04-17 16:19] stefanw commented on #48
Since this is jekyll page there's mostly content. Put I will add a license for good measure.

[2015-04-21 20:23] karan commented on #48
Thanks

[2015-06-01 13:36] mneuschaefer opened #56 "Projekt-Blurbs auf Hauptseite verlinken"
Hallo, könnt ihr die Projekt-Blurbs auf der Startseite (Code for Germany, CDV, Jugend Hackt, Frag den Staat) samt Bild so verlinken, dass sie direkt auf die Projekte verweisen? Im Moment möchte man darauf klicken, dann passiert aber nichts. Danke!

[2015-06-01 13:40] #56 closed

[2015-11-10 11:50] seegerseeger commented on #47
works.

[2016-01-07 16:28] ffalt commented on #44
erledigt

[2016-01-07 16:29] ffalt commented on #23
newsletter signup ist auf startseite

[2016-01-07 16:40] ffalt commented on #20
großer knopf "Zur Projektwebseite" hinzugefügt

[2016-01-07 19:28] ffalt commented on #21
spenden-banner ist auf startseite und link zu spenden-seite prominent im menü

[2016-01-07 19:43] ffalt commented on #49
fehlende angelegt

[2016-01-07 21:32] ffalt commented on #24
sind jetzt im footer

[2016-01-22 12:06] arnese opened #66 "Blog: Autorbild für "OKF""
Bisher sind nur einzelne Personen als Blogautor mit Bild versehen. Bei kollaborativen generellen Posts wäre es schön, wenn der Autor "OKF" als Autorenbild das OKF-Logo kriegen könnte.
Umsetzung: Vielleicht OKF als unsichtbares Teammitglied oder so.

[2016-01-28 12:23] ffalt commented on #66
genau so umgesetzt: als unsichtbares teammitglied
ausserdem können nun auch mehrere autor*innen angegeben werden, für die dann je ein bild erscheint

[2016-01-28 12:23] #66 closed

[2016-02-01 14:52] stefanw opened #67 "Animated Logo redraw issue"
See here: https://twitter.com/nickstenning/status/694159418154426369

Probably need to `clearRect` a bigger area.

[2016-02-02 09:34] arnese commented on #68
Eher auf einer Extra-Seite als auf der selben Seite mit aktiven Mitgliedern, oder?

[2016-02-24 18:04] arnese opened #70 "Unterseite "Family & Friends"?"
Wäre eine Möglichkeit, um ein paar unserer Unterstützer und wohlgesonnener Partner darzustellen. Vielleicht sinnvoll?

[2016-02-29 13:47] ffalt commented on #70
erstellst du eine liste? dann leg ich die seite an und suche die logos, etc.

[2016-03-18 17:00] arnese commented on #70
- headissue - Kooperation mit kleineAnfragen.de
- Stromnetz Berlin  @heleneh  - reinnehmen?)
- Deutsche Bahn @vavoida - reinnehmen?)
- SenWTF @heleneh  - reinnehmen?)
- Partner bei OParl hier reinnehmen, @the-infinity ?
- Sollen hier CodeFor-Partner stehen, @juliakloiber ?
- OKF international

[2016-03-18 17:45] Pauletta commented on #70
- mediale pfade
- mabb
- bpb

[2016-03-24 18:53] arnese opened #71 "Anzeige ITZ überprüfen"
Für die Initiative Transparente Zivilgesellschaft müssen wir u.a. ein Logo einfügen auf https://okfn.de/verein/ und nochmal checken ob alles passt.

[2016-04-02 13:58] christianheise commented on #68
jup

[2016-04-04 11:14] knutator2 opened #73 "Ehemaligenseite für den Vorstand"
Wir brauchen noch ein Sektion um die ehemaligen Vorstandsmitglieder zu listen. Die ehemaligen Vorstandsmitglieder werden unter den aktuellen gehostet

[2016-04-04 12:47] ffalt commented on #73
duplicate to #68 :)

[2016-04-28 09:15] knutator2 commented on #68
Es gibt jetzt eine Extraseite für den Vorstand. Wollen wir sowas auch fürs Team? Wird dann ziemlich voll

[2016-05-07 22:34] arnese commented on #73
done in #68

[2016-05-07 22:34] #73 closed

[2016-05-07 22:36] arnese opened #75 "Policy & Research"
Wie können wir gut darstellen, dass wir auch Policy- und Research-Arbeit machen und darauf angesprochen werden können? Bisher passt es nicht ganz ins Website-Konzept.
Möglichkeiten wären u.a. das Einfügen unter Themen oder unter Services oder als Verantwortlichkeit bei den Teammitgliedern.

[2016-06-03 16:05] ffalt opened #77 "doppelprojektseite trennen?"
in https://github.com/okfde/okfn.de/blob/master/_projects/httpsjetzt.md sind mehrere projektseiten/github-links aufgeführt, das projekt-template beachtet aber nur je den ersten.
so gibt es keinen link zu https.jetzt selbst (ausser im text), was schade ist.
in zwei projektseiten aufdröseln?

[2016-08-09 08:53] MaryP opened #78 "Farblich eindeutigere Unterscheidung Link und Bold?"
Derzeit ist ein Link fett und schwarz und bold fett und grau - ist manchmal was schwierig zu Unterscheiden - wie wäre es mit einer anderen Fabre für links?

[2016-08-09 08:55] #71 closed

[2016-08-09 08:55] MaryP commented on #71
done

[2016-08-10 22:46] skasberger opened #79 "schreibfehler im footer"
im footer.html include file ist im alt text "Open Knowldege Foundation Deutschland e.V." => e vertauscht bei knowledge

[2016-08-15 08:09] #79 closed

[2016-11-14 13:48] ffalt commented on #78
✔️

[2016-11-14 13:48] #78 closed

[2016-11-14 14:54] ffalt commented on #3
Text wurde von Arne, Helene & Walter überarbeitet

[2016-11-14 15:51] ffalt commented on #67
done

[2016-11-14 15:51] #67 closed

[2016-11-14 23:20] arnese commented on #12
Ist online schon länger.

[2016-11-14 23:20] arnese commented on #8
Ist inzwischen online.

[2016-12-01 16:24] arnese commented on #75
Zumindest vorübergehend durch Einbindung bei Services gelöst.

[2016-12-01 16:24] #75 closed

[2016-12-01 16:25] arnese commented on #70
Zumindest vorübergehend durch Einbindung bei Services gelöst.

[2016-12-01 16:25] #70 closed

[2016-12-01 16:26] arnese commented on #65
Das würde ich gerne wieder aufgreifen.
Muss das als externer Dienst laufen? Wäre eine kontinuierliche Pflege zu aufwändig?
Zumindest beinhalten sollte ein Termin:

- Datum
- Art der Veranstaltung und Titel
- Person/Projekt
- Ort

[2016-12-01 16:27] arnese commented on #14
Ist das geklärt oder brauchen wir weitere/weiterhin Hintergrundbilder?

[2016-12-01 16:28] arnese commented on #13
Ist das weiterhin aktuell, @Pauletta und @maliena ?

[2016-12-01 16:29] arnese commented on #9
Soll das ein eigenes Thema auf der OKF-Seite sein, @juliakloiber  ?

[2016-12-01 16:30] stefanw commented on #14
So wie ich das sehe, haben wir die alle rausgenommen und alles durch ein generisches Blau ersetzt. Finde ich sehr schade. Mache dazu mal ein Issue auf.

[2016-12-01 16:36] stefanw opened #80 "Keine Menschen, zu wenig Gesichter"
Da trotz #14 irgendwie alle Hintergrundbilder verschwunden sind, zeigen sich nirgendwo mehr Gesichter (außer auf Team und Boardseiten). Stattdessen ein generisches Blau im oberen Bereich. Das sieht zwar nicht so schlecht aus, aber ich finde das schade.

Wir haben tolle Bilder von unseren Events, bei denen wir Menschen zusammenbringen. Andere Seiten müssen sich Stock-Photos zusammensuchen, um ein p

[2016-12-01 18:29] MaryP commented on #65
Danke @arnese ! Ich finde das immer noch eine gute Idee. Wir haben so viele events zu denen wir gehen und ich werde öfter gefragt wo seid ihr demnächst  - gibt es eine einfache Möglichkeit das zu basteln?

[2016-12-02 19:00] stefanw commented on #9
Bin ich ja total dafür. Das muss ja auch nicht aufwendig viel sein.

[2016-12-18 15:56] arnese commented on #77
Ich find, das passt so eigentlich ganz gut. Gibt es alternativ die Möglichkeit, zwei Links zuzulassen?

[2016-12-18 15:58] arnese commented on #65
Wenn man schon dabei wäre, könnte man auch Presseartikel über OKF dazu nehmen

[2017-01-06 12:09] ffalt commented on #65
ich seh da 3 Möglichkeiten:

[2017-01-06 12:14] ffalt commented on #65
1. per Hand gepflegte yaml-date
2. OKF Public Kalender -> Export .ics -> Jekyll
3. Nur OKF Public Kalender als Iframe

zu 1: Wir haben volle Freiheit über Felder und Aussehen, aber die yaml-Datei muss regelmäßig gepflegt werden
zu 2: Wir haben volle Freiheit Aussehen, Felder sind durch Google Kalender beschränkt, lässt sich automatisieren, lässt sich an zentraler Stelle editieren
zu 3: Es sieht au

[2017-01-06 14:12] seegerseeger commented on #65
Ich finde 2 am besten insofern das technisch nicht zu aufwändig ist. Dann müssen wir nur beim Termine eintragen drauf achten, dass es nicht aussieht wie Kraut und Rüben, sollte doch zu schaffen sein ;)

[2017-01-06 14:23] arnese commented on #65
Ist das Beispiel jetzt aus 2) oder sähe das in jedem Fall so aus? Sieht auf jeden Fall gut aus!

1 ist, glaube ich, zu aufwändig, als dass es von allen gemacht werden würde
2 scheint mir auch die einfachste Möglichkeit zu sein; wenn es dann fertig steht zumindest
3 wär nicht so cool, weil offensichtlich Google, glaube ich

[2017-01-10 16:10] MaryP commented on #81
Finde ich eine gute Idee! So sieht man auch das die Seite upgedated wird (ausser dem Blog)

[2017-01-10 17:34] arnese commented on #81
Ich hab jetzt zumindest die beiden ausgetauscht. Könnte man mal drüber nachdenken, das zirkulieren zu lassen, ja. Dann bräuchten alle Projekte ähnlich aufgebaute Teaser.

[2017-01-12 10:27] ffalt commented on #82
ah, good find. das ist ein überbleibsel. früher wurden da projekte aus dem "featured"-block der projekte-übersicht angezeigt, diese gibts aber nicht mehr.
ich habe die verbliebene überschrift auskommentiert, bis wir wissen ob und was wir da anzeigen wollen.

[2017-01-12 10:32] arnese commented on #82
danke!

[2017-01-12 10:46] ffalt commented on #65
Im Beispiel ist oben: 2) ein einsamer Eintrag als 'Import aus .ics-Datei' Proof-of-concept und unten: 3) der Google IFrame Kalender

Ich bin auch für 2) als guter Kompromiss zwischen Pflegeaufwand und Designfreiheit und schaue mal wie sich die Automatisierung bewerkstelligen lässt.

[2017-01-12 15:34] mattfullerton commented on #65
Ich wollte eine Frontend JS Lösung was die Daten live aus dem Google API hollt vorschlagen. Scheint technisch machbar aber ich finde kein fertiges Projekt was man integrieren könnte, also ich schätze zu viel Arbeit.

[2017-01-12 15:47] ffalt commented on #65
dacht ich auch erst, aber für das api braucht man einen oauth key (soweit ich verstanden habe auch für public kalender) und der key im client-code ist ungünstig.
es gibt aber eine öffentliche [.ics datei ](
https://www.google.com/calendar/ical/okfn.de_jcb2bir16010snrta90clnthrg@group.calendar.google.com/public/basic.ics) für den kalender, d.h. regelmäßiger cron job auf dem server sollte es tun und

[2017-01-12 16:04] mattfullerton commented on #65
Ja, ist eine gute Lösung, ich denke nur an den Denkkonflikt zwischen Kalendar kann sich jederzeit ändern, Jekyll nur periodisch. Aber ich habe das gleiche Thema mit 2030watch (nur da mit Sheets).

Das mit OAuth stimmt. Aber mit einer Application/User Key hätte man einen Key der wirklich nichts anders kann als von dem Kalendar lesen. Du gibst als OKF dieses Quasinutzer nur Leserecht auf dem *öffent

[2017-01-13 10:31] ffalt commented on #65
ah danke für die info, ich wusste nicht dass sich die berechtigungen für keys unterschiedlich festlegen lassen.
über das Google API lassen sich auch webhooks einrichten, die dann bei änderung im kalender jekyll auslösen können - genauso wie wir es auch mit github machen. aber ich glaube eine aktualisierung pro stunde wird ausreichen. zuerst muss der kalender ohnehin überhaupt benutzt werden :)

[2017-01-26 09:10] arnese opened #83 "page.title bei Tag-Seiten"
Nur eine Kleinigkeit: Mir ist aufgefallen, dass der Seitentitel von Tag-Seiten des Blogs (z.B. https://okfn.de/blog/tags/open-data-gesetz/) "page.title" ist - da könnte man vielleicht den Tag selbst als Seitentitel nehmen oder nur Open Knowledge Foundation.

[2017-01-26 14:03] ffalt commented on #83
Danke, ein Bug in Folge des Übersetzungs-Plugins. Fixed mit einem Workaround im Plugin, es zeigt nun den Tag als Seitentitel.

[2017-01-26 14:03] #83 closed

[2017-01-26 21:09] stefanw opened #84 "Bürgerrechte vs. Grundrechte"
[Die Bürgerrechte auf unserer Seite](https://github.com/okfde/okfn.de/search?utf8=%E2%9C%93&q=B%C3%BCrgerrechte) sind in den meisten Fällen wahrscheinlich Grundrechte und wir sollten sie so nennen.

[2017-01-26 21:23] stefanw opened #85 "Neue Aufteilung der Projekttypen auf Projektseite"
[Wie diesem Commit](9ff0c543a7eedeb078e10d3e8784cad173cb2200) zu entnehmen ist, kommt die Aufteilung der Projekte auf der Projektseite offenbar von einem Print-Flyer. Wir haben aber vermutlich mehr Projekte auf der Webseite als auf dem Flyer. Das führt zu einigen (für meine Wahrnehmung) seltsamen Konstellationen:

- Eine Häufung von kleineren Tool-Webseiten im prominenten oberen Bereich unter "Pol

[2017-01-27 14:56] arnese commented on #84
Überall da geändert, wo relevant

[2017-01-27 14:56] #84 closed

[2017-01-30 15:19] ffalt commented on #65
ich habe jetzt das styling von code-for adaptiert und das einlesen des google .ics verbessert [https://okfn.de/termine/](https://okfn.de/termine/)

aber nun fällt mir auf die füße dass wir die felder nicht selbst bestimmen können.
Ich habe im google calender kein z.B. standard-feld für eine URL gefunden, um einen link für einen termin einzutragen, (sodass diese in die .ics datei exportiert wird, d

[2017-01-31 08:24] mattfullerton commented on #65
Wie viel von der Beschreibung hattest du vor anzuzeigen? Ich würde Kalendareintragenden lieber die Empfehlung geben, schau dass eine Link mit mehr Infos in der Beschreibung drin ist als 'bitte in der ersten Zeil einen URL eintragen'. Und ja. parsen mit Jekyll macht wirklich kein spaß[1].

[1] :cry: https://github.com/okfde/2030-watch.de/blob/dev/_includes/visualizations/main_visualization.html#L34

[2017-01-31 17:48] ffalt commented on #65
ich dachte an
"kurze beschreibung"
"wer in der okf"
"typ der veranstaltung"
"wo (mit geolocation)" und
"mehr informationen-link"

zumindest hatte ich mir das so vorgestellt weil es dafür felder im ics gibt, die google aber nicht füllt. da muss ich wohl streichen. und ja, du hast völlig recht, informale regelungen wie "url in 1. zeile" funktionieren nicht auf dauer.

[2017-02-01 13:43] ffalt commented on #86
ja, es lag an den open graph tags, denn: es gab überhaupt keine. ich habe die wichtigsten eingetragen und mit dem [sharing debugger](https://developers.facebook.com/tools/debug/sharing/ ) getestet.

[2017-02-04 18:33] stadine commented on #85
Wir könnten die Projekte wie folgt aufteilen:
- laufende Projekten im oberen Bereich der Seite / abgeschlossene Projekten drunter
- zusätzlich Filter nach Rubriken

So kann die Reihenfolge innerhalb der Bereiche aktuell/abgeschlossen kuratiert werden und der Prototypefund versteckt sich nicht mehr hinter Dariah oder BIG.

[2017-02-07 15:22] ffalt commented on #85
Wenn wir diese Seite umbauen, sollten wir vielleicht auch eine Kurzbeschreibung des jeweiligen Projekts einführen. Im Moment müssen sich die Besuchenden, die die Projekte nicht eh schon kennen, größtenteils nach Position auf Seite und für sie interessant klingende Namen orientieren.

[2017-02-16 12:49] MaryP opened #88 "Download Sektion"
Haben wir mittlerweile genug Publikationen als das sich sowas lohnen würde? Man könnte es auch Ressource oder so nennen...

[2017-02-24 11:02] arnese commented on #88
Find ich interessant, aber einen eigenen Menüpunkt würde ich nicht aufmachen. Also vielleicht unter "Themen" oder in einem Blogpost. Einige gibt es bereits bei "Studien" unter "Services"

[2017-11-30 16:59] stefanw opened #95 "Sidebar render issue in chrome"
When opening a new tab in chrome and loading https://okfn.de the sidebar is sliding away sneakily. Other browsers seem to be fine. It's also fine on reload.

![chrome-okf-sidebar-bug](https://user-images.githubusercontent.com/78356/33443498-0632a60a-d5f8-11e7-8b5f-f23dd6644584.gif)

[2017-11-30 17:00] stefanw commented on #95
Maybe @ffalt knows?

[2017-12-11 15:38] ffalt commented on #95
hard to reproduce, since it's only visible after cache cleaning in my chrome. but at the very first start it's visible. my guess it's a race condition when how chrome applies css properties. the sidebar *should* be invisible at start, but seems like the animation property is used first, so [div is visible without css] => [div gets animation property] => [div gets visibilty=false property] which le

[2017-12-11 15:52] ffalt opened #96 "blog meta information styling"
some styling is broken in the blog entry header & the blog entry previews below

![bildschirmfoto 2017-12-11 um 16 45 52](https://user-images.githubusercontent.com/3438714/33839781-73216b7c-de93-11e7-9f8f-03b2ca848bd6.jpg)
![bildschirmfoto 2017-12-11 um 16 45 59](https://user-images.githubusercontent.com/3438714/33839799-7a3f9122-de93-11e7-9ac8-a89ce7138dc7.jpg)

[2017-12-11 17:04] ffalt commented on #95
meh, did not work as intended. the sidebar stayed hidden. I think now it's properly worked around.

[2018-02-13 10:45] #95 closed

[2018-04-08 08:31] arnese opened #101 "Neue Sektion "Publikationen""
Wir sollten auf einer Seite darstellen, welche Publikationen wir haben; z.B.
- Studien
- MdB-Guide
- Hackathon-Handbuch
- Stellungnahmen in Gesetzgebungsverfahren usw.

[2018-12-04 17:34] stadine opened #2 "Doppelte Vergabe von Kategorien für Projekte"

[2018-12-04 17:35] stadine opened #3 "Filter für Projekte"
- an und abwählbar
- filtern alle Projekte (weitere dann mit Bild) – NTH

[2018-12-04 17:37] stadine opened #4 "kaputtes Teaserbild auf Profilseite in Chrome"
in Chrome Version 70.0.3538.

<img width="976" alt="bildschirmfoto 2018-12-04 um 18 36 00" src="https://user-images.githubusercontent.com/7421063/49461245-811bda80-f7f3-11e8-9f66-d7be75311a2b.png">

[2018-12-04 17:38] stadine opened #5 "Projektteaser auf Themenseite"
keine Teaser für Projekte, die im Archiv sind

[2018-12-10 14:02] lislis commented on #5
done in 0013f3635eddf63fbf0505854b9db6c000d3657a

[2018-12-10 14:13] lislis commented on #4
done in b447818d355f9792acd047e6c6f4d5f9417e68a0

[2018-12-10 16:31] lislis commented on #3
Done in 14a67d82f482aa1d2d638eb64468f020cd7c79aa 0b8d00ef7f40cb1be81d334d717cbe50b5b1fbf1 3cb83edbea06cca0f192de6a7145d90afbbcfbb3

[2018-12-10 16:34] #5 closed, assigned to nobody

[2018-12-10 16:34] #4 closed, assigned to nobody

[2018-12-10 16:34] #3 closed, assigned to nobody

[2018-12-10 16:36] lislis commented on #2
bei welchen Projekten hast du die doppelte vergabe versucht? Sind die noch irgendwo?

[2018-12-11 01:05] stadine commented on #2
es kann sein, dass ich sie wieder rausgenommen hatte. aber wenn ich z.b. bei edulabs die kategorien „community“ und „bildung“ vergebe, erscheint das projekt nach auswahl der filter nicht mehr.
ich pushe es nachher mal, bekomme aber keine fehlermeldung, dass im yaml etwas falsch ist

[2018-12-13 15:00] lislis opened #6 "X icon bei Blogsuche"

[2018-12-13 15:09] lislis opened #7 "Zusatzinfo Profilseite schneidet falsch ab"
Breakpoints und overflow checken

[2018-12-13 15:16] lislis opened #8 "Finanzierungsgraphen"

[2018-12-13 15:18] lislis opened #9 "Blog buttons:hover"
should not have underline

[2018-12-13 15:19] lislis opened #10 "Blog featured article"
should only show on 1st page of pagination

[2018-12-13 15:28] stadine opened #11 "Feld für die englische Übersetzung der Position auf der Teamseite"

[2018-12-13 15:29] stadine commented on #11
<img width="1246" alt="bildschirmfoto 2018-12-13 um 16 28 27" src="https://user-images.githubusercontent.com/7421063/49948671-30dc0100-fef4-11e8-9b21-be0ac774df6f.png">

[2018-12-13 15:32] stadine opened #12 "Bildgrößen verkleinern"
nicht größer als 100kb

[2018-12-13 15:32] stadine opened #13 "Illustration für Spenden-Teaser"

[2018-12-13 15:33] stadine opened #14 "Prüfung englische Projekttexte"

[2018-12-13 15:34] stadine opened #15 "Illustration für Thema „Informationsfreiheit“"

[2018-12-13 15:49] lislis opened #16 "Favicons"

[2018-12-13 15:53] stadine opened #17 "Abnahme der Thementexte"
von Lucy und Juliane bis zum 5.1.

[2018-12-13 16:02] lislis commented on #2
done in 2d48f14eeaf9d0ab7ae2d9c2e293bb865308dbaa

[2018-12-13 16:02] #2 closed, assigned to nobody

[2018-12-13 16:03] lislis opened #18 "Check SEO for all pages"

[2018-12-13 16:04] lislis opened #19 "Check Lighthouse for all pages"

[2018-12-13 16:12] stadine opened #20 "Logo Initiative Transparente Zivilgesellschaft im Footer"
mit Link. unter die Social Media Icons

[2018-12-13 16:27] stadine opened #21 "Fehlende Projektbilder"
Teaser und Header

- GIF für codefor.de
- 2030 watch
- Coding Da Vinci
-  D-EITI
- DARIAH-DE
- Daten machen Schule
- Datenschule
- Energyhack
- Familienlabore
- ODINE
-  Politik Bei Uns
-  https.jetzt
- offenegesetze

[2019-01-02 11:23] lislis commented on #20
Sieht jetzt so aus
![screenshot from 2019-01-02 12-21-26](https://user-images.githubusercontent.com/1006478/50589976-22489000-0e89-11e9-9d66-58d3b06520c8.png)

[2019-01-03 12:22] lislis commented on #9
done in 2d1c3f709de30aedb0fb59cd03645e08f0dfdae1

[2019-01-03 12:22] #9 closed, assigned to nobody

[2019-01-03 12:40] lislis commented on #7
done in 0e9384f6687012208eae380c740d5583d21839f6

[2019-01-03 12:40] #7 closed, assigned to nobody

[2019-01-03 12:41] lislis commented on #8
Fertig, fehlen noch die 'richtigen' Daten

[2019-01-03 12:41] #8 closed, assigned to nobody

[2019-01-03 12:51] lislis commented on #10
done in ff13d9ddc3cda4f93adbcf53e5ad947e915cdc97

[2019-01-03 12:51] #10 closed, assigned to nobody

[2019-01-03 12:55] lislis commented on #11
Das Template erwarted jetzt `position_en` in der team.yml. Wenn das leer ist wird es einfach nicht angezeigt.
Beispiel https://github.com/okfde/okfde-reloaded/blob/9f030e5499284df59f78b426ea017786e490ee37/data/team.yaml#L809

[2019-01-06 22:13] stadine commented on #6
liegt unter static/files/icons

[2019-01-06 22:15] #6 closed, assigned to stadine

[2019-01-06 22:37] stadine commented on #11
hab die beschreibungen bei allen hinzugefügt

[2019-01-06 22:37] #11 closed, assigned to nobody

[2019-01-07 12:15] #15 closed, assigned to stadine

[2019-01-07 13:58] DiniOkf opened #22 "Finanzseite"
Downloads:
- Wirtschaftsprüfung und Lagebericht kommen erst im Mai/Juni zum ersten Mal
- hier muss noch der aktuelle Freistellungsbescheid vom Finanzamt rein
- die Gewinn- und Verlustrechnung müss für alle Jahre hier abgelegt werden

[2019-01-07 14:42] lislis commented on #16
Sind drin!

[2019-01-07 14:42] #16 closed, assigned to stadine

[2019-01-07 15:55] lislis commented on #20
Jetzt mit hover

[2019-01-07 15:55] #20 closed, assigned to lislis

[2019-01-08 10:15] lislis opened #23 "Projektlogos finanzierungsseite"

[2019-01-08 11:22] #13 closed, assigned to stadine

[2019-01-08 11:31] lislis commented on #18
- [x] home
- [x] profil
- [x] projekte
- [x] themen
- [x] team
- [x] blog
- [x] spenden
- [x] verein
- [x] vorstand
- [x] finanzierung
- [x] jobs
- [x] presse
- [x] impressum
- [x] transparenz

en
- [x] home
- [x] profil
- [x] projekte
- [x] themen
- [x] team
- [x] blog
- [x] spenden
- [x] verein
- [x] vorstand
- [x] finanzierung
- [x] jobs
- [x] presse
- [x] impressum
- [x] transparenz

[2019-01-08 11:36] stadine commented on #22
Freistellungsbescheid sowie die Gewinn- und Verlustrechnung habe ich für alle Jahre zur Download-Section hinzugefügt.

<img width="1191" alt="bildschirmfoto 2019-01-08 um 12 36 00" src="https://user-images.githubusercontent.com/7421063/50828547-fbcf9c80-1341-11e9-88cf-dceea0899a59.png">

[2019-01-08 11:47] stadine opened #24 "Verlinkung Logo englische Version"
Auf der englischen Seite führt ein Klick auf das Logo auf die index.html

[2019-01-08 12:56] stadine opened #25 "Mobiles Menü"
svg ist abgleget unter /files/icons

[2019-01-08 13:08] lislis opened #26 "HTTP/2"

[2019-01-08 13:08] lislis opened #27 "Image Caching policy"

[2019-01-08 14:34] #18 closed, assigned to lislis

[2019-01-08 14:39] lislis commented on #19
Mostly good with exception for performance, I hope that HTTP/2 and image caching will help with that

[2019-01-08 14:39] #19 closed, assigned to lislis

[2019-01-08 14:46] #23 closed, assigned to nobody

[2019-01-08 14:49] lislis commented on #24
Kommt in 86e520a8a2a82a6065dafd357a39b1ce6d5775ab

[2019-01-08 14:49] #24 closed, assigned to nobody

[2019-01-08 15:32] lislis commented on #25
Kommt in 01200399aa8f0de44380b292b5935ce984cddf48

[2019-01-08 15:32] #25 closed, assigned to nobody

[2019-01-08 16:46] lislis opened #28 "Order of images and text on mobile"
- [x] home
- [x] profil
- [x] themen

[2019-01-08 17:14] #28 closed, assigned to nobody

[2019-01-14 15:59] stadine opened #29 "Teaser zur Transparenzseite"
auf der Finazierungs- und Spendenseite

[2019-01-14 16:00] stadine opened #30 "andere Darstellung Gewinn- und Verlustrechnung"

[2019-01-14 16:03] stadine opened #31 "Phineo Siegel"
auf Spendenseite und Tranpasranzseite unter Initiative Transparente Zivilgesellschaft

[2019-01-14 16:39] #21 closed, assigned to nobody

[2019-01-14 16:43] lislis commented on #29
Vorbereitet in https://github.com/okfde/okfde-reloaded/commit/13d86652b4f6201ef27f6081eb7cb69d2dc7016e

[2019-01-14 17:08] lislis commented on #31
Hier vorbereitet https://github.com/okfde/okfde-reloaded/commit/f3b7712bf45e36ff4d2cf9893ed7e8730691a983

[2019-01-14 17:15] #29 closed, assigned to nobody

[2019-01-21 16:50] lislis commented on #31
done

[2019-01-21 16:50] #31 closed, assigned to nobody

[2019-01-21 16:50] lislis commented on #30
done!

[2019-01-21 16:50] #30 closed, assigned to nobody

[2019-01-21 16:50] lislis opened #32 "Numbered lists bei Themen"
Esp offene Bildung

[2019-01-22 12:01] seegerseeger opened #34 "english translations of layouts/partials/footer.html"
Wo kommt die englische Übersetzung hin?
Text:

[code]

[2019-01-22 12:07] #17 closed, assigned to seegerseeger

[2019-01-22 12:07] #14 closed, assigned to seegerseeger

[2019-01-22 12:09] stadine opened #35 "Falsche Angabe der Einnahmen öffentlicher Gelder in %"
<img width="971" alt="bildschirmfoto 2019-01-22 um 13 06 01" src="https://user-images.githubusercontent.com/7421063/51534612-80441400-1e46-11e9-93d5-a46003b2a08b.png">

Die Angabe der Prozentzahl zu den Gesamteinnahmen im Hover scheint falsch zu schein.

- laut der Grafik sind es ca. 9%; im Hover sind es 17%
- sieht so aus als wird die Grafik abgeschnitten

[2019-01-22 12:16] stadine opened #36 "Project-Teaser-Tile Error Error"
<img width="362" alt="bildschirmfoto 2019-01-22 um 12 49 06" src="https://user-images.githubusercontent.com/7421063/51535020-a61de880-1e47-11e9-9a7e-9fd86223a6ae.png">

+ wenn die überschrift über zwei zeilen läuft
+ kann die überschrift auf weiß werden?

[2019-01-22 15:18] lislis commented on #35
Ja, das ist tatsächlich seltsam. Die 17% sind richtig berechnet aber die Skala geht nicht mit, was bei allen anderen aber funktioniert. Bin noch etwas planlos deswegen :thinking:

[2019-01-22 15:21] lislis commented on #34
Ist das nur noch der Matomo-Teil der fehlt? Das ist in den Übersetzungsfiles  in i18n aber da muss ich wegen den Links noch mal schauen wie/ ob das so funktioniert.
Ich kümmer mich drum

[2019-01-22 15:44] #22 closed, assigned to nobody

[2019-01-22 16:05] stadine opened #37 "Projektteaser auf Startseite"
<img width="499" alt="bildschirmfoto 2019-01-22 um 17 03 06" src="https://user-images.githubusercontent.com/7421063/51548016-b1810c00-1e67-11e9-96c2-649d5c5fe669.png">

+ wäre super, wenn sich die Projektteaser auf der Startseite mobil gleich verhalten, wie in der Desktopversion – grade werden auch große Teaser zu kleinen Teasern
+ sie sollten den selben Hover haben wie auf der Projektübersicht

[2019-01-22 16:16] stadine opened #38 "Bilder auf Projektdetailseite"
+ verrutscht
+ waren mal zentriert

<img width="1440" alt="bildschirmfoto 2019-01-22 um 17 15 16" src="https://user-images.githubusercontent.com/7421063/51548836-7253ba80-1e69-11e9-83bc-c9d0cb8ff4be.png">

[2019-01-22 17:18] stadine opened #39 "Lizenzangabe für Bilder"
😬

[2019-01-22 17:24] stadine commented on #39
<img width="1199" alt="bildschirmfoto 2019-01-22 um 18 23 29" src="https://user-images.githubusercontent.com/7421063/51553364-eb0b4480-1e72-11e9-985b-57e3f1603b01.png">

[2019-01-22 20:54] lislis commented on #38
Wie meinst du ''zentriert"? War das nicht so ein bisschen 'off-grid' gedacht?

[2019-01-22 20:58] lislis commented on #39
Passiert das jetzt nur beim hover oder immer so?
Und: das kommt jetzt auf alle Bilder außer Blog, richtig?
Und: sind die Lizenzangaben für alle Bilder irgendwo vermerkt?

[2019-01-22 21:07] stadine commented on #38
Ja, ich dachte, das müsste in der project.html passieren und hatte es nicht gefunden. Ist jetzt drin.

[2019-01-22 21:07] #38 closed, assigned to lislis

[2019-01-22 21:12] stadine commented on #39
+ nur beim hover
+ wenn es nicht viel mehr stress ist, auch bei bei bildern im blog
+ die meisten bilder habe ich aus flickr. ich würde die morgen raussuchen und eintragen. oder möchtest du das vorab haben? meintest du das?

[2019-01-23 11:33] lislis opened #40 "Sprunglink fuer datenschutzerklaerung"
muss von der alten seite uebernommen werden

[2019-01-23 15:02] lislis opened #41 "Blog image"
if header image is given, show it on single view regardless of `featured`

[2019-01-23 15:06] lislis commented on #39
Startseite, profil, projekte, blog und Querverlinkungskästen

[2019-01-23 15:17] lislis opened #42 "Ueberschriften auf mobil kleiner machen"

[2019-01-23 15:19] lislis opened #43 "Startseite spacing"
mt-l mb-l auf mobil ca 60 px

[2019-01-23 15:21] lislis opened #44 "Topnav!"
- links auf mobil rechtisbündig
- height statt top animieren, flackern verhindern, lieber underhalb des :hamburger: ausklappen

[2019-01-23 15:23] lislis opened #45 "Spendenteaser Startseite"
Auf ganz kleinen Screens das Bild nach oben und Text unten

[2019-01-23 15:25] lislis opened #46 "Verein Titel"
auf ganz kleinen bildschirmen volle laufweite

[2019-01-23 15:25] lislis opened #47 "Board teaser"
auf mobil ein Bild für ganze breite

[2019-01-23 15:32] lislis opened #48 "Suche"
- Input mit Unterstrich, wie in Blog
- close button dahinter
- Placeholder transformt into label
- Suchergebnisse scrollbar

[2019-01-23 15:35] lislis commented on #32
Scheint nur in Safari ein Problem zu sein

[2019-02-04 09:57] lislis commented on #40
done in 2a370c4b4cd1fb83dd3c515c1d47258efdd331c8

[2019-02-04 09:57] #40 closed, assigned to lislis

[2019-02-04 10:04] lislis commented on #34
done in 486f190edbcf8794012a7bc7a906a15c71e5799b

[2019-02-04 10:04] #34 closed, assigned to lislis

[2019-02-04 10:52] lislis commented on #41
done in f349eab4c65027a15cbbc7fb76e015dbb28cfe69

[2019-02-04 10:52] #41 closed, assigned to lislis

[2019-02-04 11:05] lislis commented on #42
done in f349eab4c65027a15cbbc7fb76e015dbb28cfe69

[2019-02-04 11:05] #42 closed, assigned to lislis

[2019-02-04 11:20] lislis commented on #43
done in a545106641560d67858e39e3044a7d9c1c9a3f03

[2019-02-04 11:20] #43 closed, assigned to lislis

[2019-02-04 15:59] lislis commented on #45
done in 35849b14f7599909be88c4d7a274958cb75cafcb

[2019-02-04 15:59] #45 closed, assigned to lislis

[2019-02-04 16:00] lislis commented on #46
done in 9a2fe16e4e33264bfc0098519a622abd0ffba07e

[2019-02-04 16:00] #46 closed, assigned to lislis

[2019-02-04 16:04] lislis commented on #47
done in f4d263605cc8355553d6d335eb2a2ef055fe7143

[2019-02-04 16:04] #47 closed, assigned to lislis

[2019-02-04 16:52] lislis commented on #44
done in 04f26a730b1ac8dbbbe8945571d45a98b9d4d0b3

[2019-02-04 16:52] #44 closed, assigned to lislis

[2019-02-04 17:41] lislis commented on #48
Done in b24feb92d73b8de9e1bb96ccd2025419d2ab5437

[2019-02-04 17:41] #48 closed, assigned to lislis

[2019-02-05 11:02] lislis opened #49 "Freistellungbescheid und den neuen Zuwendungsbescheid"
the shiny new ones!

[2019-02-05 12:07] lislis commented on #36
done in 41d35781e942156f38e9791f047be8c308186f38

[2019-02-05 12:07] #36 closed, assigned to lislis

[2019-02-05 12:07] lislis commented on #37
done in 428cc7ff13ff51121b1e7fe289930e923016e76e

[2019-02-05 12:07] #37 closed, assigned to lislis

[2019-02-05 15:15] lislis commented on #39
Markup für Lizenzen ist vorbereitet.
generell sieht das so aus:
[code]
Auf den Projektseiten ist das im HTML einfach so einfügbar. Aktuelle Projekte und Weitere Projekte habe ich schon vorbereitet (fehlen die urls und lizenzen), abgeschlossene Projekte fehlen noch.

Im Yaml was vorher so aussah:
[code]

wird jetzt zu:
[code]
Edit: es scheint bei doppelten Anf[hrungszeigen in HTML in  `license` dan

[2019-02-05 16:09] lislis commented on #49
done in 786aedd0e694177da7f3e921009dcd1413c547d9

[2019-02-05 16:09] #49 closed, assigned to nobody

[2019-02-05 16:30] lislis commented on #32
fixed in bcdb51581018aadcf8878a5da07e2a095510b2c9

[2019-02-05 16:30] #32 closed, assigned to nobody

[2019-02-05 17:14] lislis commented on #35
Done 5f5de6b631493d4edda4be0e7ed53d4db0170147

[2019-02-05 17:14] #35 closed, assigned to lislis

[2019-02-05 17:41] lislis commented on #12
Max 200kB
- [x] edulabs tile + header
- [x] openSchufa tile + header
- [x] turing bus tile + header
- [x] frag den staat
- [x] demolabs

Max 180KB
- [x] bela
- [x] juliane
- [x] philip  steffan
- [x] doris
- [x] jasmin
- [x] NadinE
- [x] Paula
- [x] Walter

themen max 200kb
- offene bildung
- if
- ciciv tehc
- open data

profil max 300kb
- profil 3
- profil 6

[2019-02-06 01:59] stadine commented on #12
done

[2019-02-06 01:59] #12 closed, assigned to stadine

[2019-02-11 11:21] lislis commented on #39
OMG, done!

[2019-02-11 11:21] #39 closed, assigned to lislis

[2019-02-18 09:55] stefanw opened #52 "Taxonomy URLs"
Offenbar funktionierten die alten Tag-URLs nicht mehr:

Alt: https://okfn.de/blog/tags/praktikant/
War neu: https://okfn.de/tags/praktikant/

Ich habe jetzt in der config.toml was geändert:
[code]

Ggf. müssen wir das auch für Kategorien-Seiten machen (falls wir die vorher hatten).

[2019-02-18 13:24] lislis commented on #52
Ah guter Punkt, danke für's fixen. Kategorien-Seiten hatten wir vorher nicht (zumindest nicht soweit ich das gesehen habe), das sollte also ok sein

[2019-02-18 13:28] lislis commented on #52
Oder meinst du die Projektkategorien (im Gegensatz zu Blogkategorien)? Die gab es vorher auch nicht, läuft also auch

[2019-02-24 20:28] #52 closed, assigned to nobody

[2019-02-24 21:07] jfilter opened #53 "English blog posts"
The site looks awesome. Thanks for your work. I just noticed two things:
- The l18n is not done for the blog. Is this on purpose? Maybe a small note on the English version would help to understand why this part is in German.
- And you can't switch languages when you are on the blog.

[2019-02-25 15:56] lislis commented on #53
Hey @jfilter!

Yes, that is by design. Most blog posts are in German and only recently a few were published with an English translation, so we decided to not translate the Blog as we do with the other pages.

Argh, this now is a bug resulting from the translation exception written for the blog :/

Maybe I'll go with your suggestion of having a notice on the "EN Blog". Creating an EN blog would rem

[2019-02-27 19:34] stefanw opened #54 "Some meta tag icons are 404"

[2019-03-05 11:51] lislis commented on #54
Do you have an example url?

[2019-03-06 13:32] lislis commented on #53
@jfilter I added a route https://okfn.de/en/blog/ which is the same blog as in German but with a notice. Language switch does now work as expected.
I'm closing the ticket, feel free to re-open if there is something I've missed

[2019-03-06 13:32] #53 closed, assigned to nobody

[2019-03-06 13:36] lislis commented on #54
I found https://okfn.de/files/favicon/apple-touch-icon.png was actually missing but I found /apple-icon.png instead, I assume that the icon generator has a bug where the path is wrong? Anyway, fix coming up in 9ca6e6db6c9c839d6fec34a84d49a5dd041186be
I'm closing this, feel free to reopen if there is another case of this

[2019-03-06 13:36] #54 closed, assigned to nobody

[2019-04-04 15:38] stadine opened #58 "Englische Blogposts"
Wir werden zukünftig häufiger Blogposts auf englisch veröffentlichen als in der Vergangenheit. Daher ist eine Überarbeitung der Übersichtsseite sinnvoll.

Derzeit gibt es keine Unterscheidung des Blogs zwischen der englischen und deutschen Seite.

Vorschlag wäre:
- neue Kategorie für englisch blogposts
- Ausgabe ausschließlich englischer blogposts in der Blogübersicht auf der „englischen Seite“

[2019-04-29 08:59] lislis opened #60 "Bring back facebook link to project pages"

[2019-04-29 10:06] lislis commented on #60
done in c093950b11ce58a8b558fd4667c4b3cdca7a51fd

[2019-04-29 10:06] #60 closed, assigned to nobody

[2019-05-08 21:46] jfilter opened #62 "Make project titles on images always visible"
![Screen Shot 2019-05-08 at 22 26 11](https://user-images.githubusercontent.com/3450307/57410369-eb91d600-71ea-11e9-9233-a33104a895ea.png)

https://okfn.de/themen/open_data/

Also on `OpenSchufa` and `edulabs` the project title is hard to read.

[2019-05-08 22:01] jfilter opened #63 "EditorConfig"
What about an `.editorconfig` to prevent unwanted changes due to (auto-)formatting?

https://editorconfig.org/

[2019-05-08 22:07] jfilter opened #64 "Prevent linebreaks between URL and arrow"
![Screen Shot 2019-05-09 at 00 05 31](https://user-images.githubusercontent.com/3450307/57411552-38c37700-71ee-11e9-91c0-e132823a4229.png)

Found here: https://okfn.de/projekte/demokratielabore/

[2019-05-08 22:09] jfilter opened #65 "add project's Instagram account"
Some projects, i.e. Demokratielabore, already have their Instagram accounts added to their contact section.

[2019-05-23 15:08] jfilter opened #68 "Improve SEO"
For instance, add a proper description:
[code]

[2019-06-06 10:49] lislis commented on #65
Done in 6de167df74aa8fc97368207736ae884873f3e10b

[2019-06-06 10:49] #65 closed, assigned to nobody

[2019-06-06 10:52] lislis commented on #64
done in ba6946660597f443e0e49f16805a8a41f27760ae

[2019-06-06 10:52] #64 closed, assigned to nobody

[2019-06-06 10:54] lislis commented on #62
Was done in 1f5083e0131db20c8f7e425288e28cdcf4db4fcc and fb136123350eef0fa54cbc661db5d48625348ad0

[2019-06-06 10:54] #62 closed, assigned to nobody

[2019-06-06 10:58] lislis commented on #63
Yeah maybe :thinking: Do you already have some pain points where you'd like to have in there?

[2019-06-06 11:02] lislis commented on #68
For projects I'm setting these tags based on the `subtitle:` param.
Would you rather have a dedicated param-key for meta-description tags?

[2019-07-04 14:03] lislis opened #74 "Blog seems to sometimes serve invalid dates?"
I could not recreate the issue, but Leo screenshoted it
![Bildschirmfoto 2019-06-25 um 19 28 12](https://user-images.githubusercontent.com/1006478/60672255-2f186180-9e75-11e9-9405-60cf228583f3.png)

[2019-09-29 17:37] jfilter commented on #63
On the other hand: if people commit blog posts via GitHub, it won't work anyhow. So yeah, let's keep it like this.

I had problems because I normally automatically format code on save.

[2019-09-29 17:37] #63 closed, assigned to nobody

[2019-09-29 17:48] jfilter commented on #68
I should have been more specific. I was primarily concerned with the index page / content pages.

If you share https://okfn.de on Slack or [Twitter](https://cards-dev.twitter.com/validator), it looks like this:
![Screen Shot 2019-09-29 at 19 39 54](https://user-images.githubusercontent.com/3450307/65836423-13e0b500-e2f1-11e9-800f-eaf66e777626.png)

![Screen Shot 2019-09-29 at 19 36 32](https://use

[2019-09-29 20:19] jfilter commented on #68
Also this happens to the snippets (same for German):

![Screen Shot 2019-09-29 at 22 17 24](https://user-images.githubusercontent.com/3450307/65838784-07675700-e307-11e9-87de-bac082fc4e00.png)

[2020-05-14 12:43] jfilter opened #81 "blog tag are fully broken"
e.g. https://okfn.de/tags/prototype-fund

[2020-09-04 10:33] krmax44 opened #82 "Many photos are unoptimized"
The photos found in `static/team` are mostly unoptimized. For example, the `unknown.jpg` photo is over 4500px wide. There is also no consistency in photo resolutions and aspect ratio.

The `/team` page downloads over 14 mb in images, which could be reduced by scaling them down and using tools such as [TinyPNG](https://tinypng.com).

Just a minor thing I found while adding my profile :)

[2020-09-10 15:53] krmax44 commented on #82
ImgBot might be useful here: https://github.com/marketplace/imgbot

[2020-09-22 15:36] tasmo commented on #82
Good point!

[2021-04-22 18:35] iamsilvio opened #86 "Build: Release Branch /projekte/index.json has wrong content"
The file contains Blogposts and not the projects

Maybe you should delete all files from the release branch before adding the output of hugo publish

https://github.com/okfde/okfn.de/blob/78972773f61dbac6a555d6c9eda2c4e6645becbc/scripts/ci/deploy.sh#L22

[2021-05-06 19:14] iamsilvio commented on #68
I have build this for codefor.de last week
should I implement it for okfnde

https://github.com/okfde/codefor.de/commit/844c77631afe57e258d308876a6f53730274c6b8

[2021-05-08 23:02] iamsilvio opened #87 "site-search-index is downloaded by index and by script"
Because this happens in parallel, the file is downloaded twice!

it's downloaded fist because of the script tag and second from another js.

![Screenshot 2021-05-09 at 00 59 38](https://user-images.githubusercontent.com/1840449/117555709-deba4e00-b061-11eb-85d7-af7b05784308.png)

[2021-05-10 19:52] iamsilvio commented on #68
Implemented and waiting for review #88

[2021-08-22 21:30] basti-schr opened #90 "Missing content in projects"
On the website the project description is missing at every project. e.g. https://okfn.de/projekte/jugendhackt/

It seems to me, that something is wrong with the  _markdownify_ function.

If one removes the function in this line, the content is back…

https://github.com/okfde/okfn.de/blob/9be08b0b829d125d7ee25cbf43a725943f6c8630/layouts/_default/project.html#L96